



.web{
  
  text-shadow: 2px 2px 5px rgb(0,0,0),-2px -2px 4px rgb(19,165,200);
  
}
.web h1{
  margin-top: 80px;
  margin-right: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  font-size: 40px;
  position: relative;
  float: right;
  
  
}


.pelayanan{
  float: right;
  
  
}
.pelayanan img{
  display: inline-block;
  position: relative;
  margin-bottom: 0px;
  float: left;
  width: 50px;
  height: 45px;
  margin-top: 10px;
  
}
.pelayanan #pelayanan1{
  margin-top: 30px;
  
}
.pelayanan h4{
 float: right;
 font-size: 10px;
 margin-top: 30px;
 
}
  
  
  
}
.cek{
  float: left;
}

.cek img{
  width: 50px;
  height: 45px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.cek #cek1{
  margin-top: 30px;
  float: left;
  
}
.cek h4{
  float: left;
  font-size: 10px;
  margin-top: 30px;
}


.kesehatan{
  float: right;
 
}

.kesehatan img{
  float: left;
  width: 50px;
  height: 45px;
  margin-top: 60px;
  margin-left: 20px;
  
 
  
}
  .kesehatan #kesehatan1{
        float: left;
        margin-top: 80px;
        margin-right: 0px;
       
}
.kesehatan h4{
  float: right;
  margin-top: 80px;
  margin-right: 35px;
  font-size: 10px;
  
}
.pengobatan{
  float: left;
}
.pengobatan img{
  float: left;
  width: 50px;
  height: 45px;
  margin-top: 60px;
  margin-left: 10px;
  
}
.pengobatan #pengobatan1{
    margin-top: 80px;
}
.pengobatan h4{
  float: right;
  margin-top: 80px;
  margin-left: 0px;
  font-size: 10px;
}


 







.footer{
  height: 20px;
  background-image: linear-gradient( to right,#e5e5e5,#4ce1fb,#9be9ff,#e5e5e5);
  position: fixed;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 2px 10px 0;
}
